<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<main id="main">
<div class="starlog_panel">leftpanel</div>
<div class="commithistory_panel">rightpanel</div>
<div class="document_panel">centerpanel</div>
</main>
</body>